*.xcuserstate
*.xcscheme
*.xcbkptlist
+xcuserdata
BlueCap.xcodeproj/xcuserdata/*
BlueCap.xcodeproj/project.xcworkspace/xcuserdata/*
BlueCap.xcodeproj/project.xcworkspace/xcshareddata/*
BlueCapKit.xcodeproj/project.xcworkspace/xcshareddata/*
.DS_Store
